<div id='mainFooter' class="footer">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 15px">
			<div class="col-md-12 col-sm-12 col-xs-12 padding-about-icons">
				<div class="col-md-2 col-sm-2 col-xs-2 panel-div-about padding-about-icons">
					{{fa-icon "phone" size=2 class="icon-color-landing"}}
				</div>
				<div class="col-md-10 col-sm-10 col-xs-10">
					<h5 class="about-text info-text-font">{{t "landing.about.phone"}}</h5>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 padding-about-icons">
				<div class="col-md-2 col-sm-2 col-xs-2 panel-div-about padding-about-icons">
					{{fa-icon "envelope" size=2 class="icon-color-landing"}}
				</div>
				<div class="col-md-10 col-sm-10 col-xs-10">
					<h5 class="about-text info-text-font"> 	
						<a class="color-text" href="mailto:info@e-inteam.com?Subject=Hello%20Choosi">{{t "landing.about.mail"}}</a>					
					</h5>
				</div>				
			</div>	
			<div class="col-md-12 col-sm-12 col-xs-12 padding-about-icons">
				<div class="col-md-2 col-sm-2 col-xs-2 panel-div-about padding-about-icons">
					{{fa-icon "map-marker" size=2 class="icon-color-landing"}}
				</div>
				<div class="col-md-10 col-sm-10 col-xs-10">
					<h5 class="about-text info-text-font">{{t "landing.about.address"}}</h5>
				</div>					
			</div>			
		</div>
	</div>
	<div class="col-md-6 col-sm-4 col-xs-12 center">
		<p>Copyright &copy; KdisChoose Inc. 2016</p>
	</div>
</div>