<div class="col-md-12 col-sm-12 col-xs-12 section-scrolly menu-video-class ">
	<div class="videoWrapper">
		{{ember-youtube ytid="ZHpIi_mNFBc" playerVars=myPlayerVars}}
	</div>
</div>
<div id="features" class="col-md-12 col-sm-12 col-xs-12 menu-left-class section-scrolly features-bottom">
	<div class="col-md-12 col-sm-12 col-xs-12 padding-title-feature">
		<h2 class="title-capital-letter titles-font titles-pages features-text">{{t "landing.feature.title"}}</h2>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-12 features-content-margin">	
		<div class="col-md-12 col-sm-12 col-xs-12  padding-feature rewards-feature">
			<div class="col-md-12 col-sm-12 col-xs-4 padding-size-image">
				<div style="background-image:url(images/reward.png)" class="img-left-feature col-md-12"></div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-8 padding-small">
				<h4 class="capital-letter features-text"> 
					<strong>
						{{t "landing.feature.first.title"}}
					</strong>			
				</h4>
				<h4 class="color-text features-text-font"> 
					{{t "landing.feature.first"}}			
				</h4>
			</div>
		</div>
	</div>	

	<div class="col-md-3 col-sm-4 col-xs-12 div-heigth">
		<div class="col-md-12 col-sm-12 col-xs-12  padding-feature grabgo-feature">
			<div class="col-md-12 col-sm-12 col-xs-4 padding-size-image">
				<div style="background-image:url(images/grab&go.png)" class="img-left-feature col-md-12"></div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-8 padding-small">
				<h4 class="capital-letter features-text"> 
					<strong>
						{{t "landing.feature.second.title"}}
					</strong>			
				</h4>
				<h4 class="color-text features-text-font"> 
					{{t "landing.feature.second"}}			
				</h4>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-4 col-xs-12 div-heigth">
		<div class="col-md-12 col-sm-12 col-xs-12 padding-feature padding-feature-last menus-feature">		
			<div class="col-md-12 col-sm-12 col-xs-4 padding-size-image">
				<div style="background-image:url(images/menu.png)" class="img-left-feature col-md-12"></div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-8 padding-small">
				<h4 class="capital-letter features-text"> 
					<strong>
						{{t "landing.feature.third.title"}}
					</strong>			
				</h4>
				<h4 class="color-text features-text-font"> 
					{{t "landing.feature.third.first"}}
					<a  class="textLinkColor" href="http://cncentral.net/" target="_blank">{{t "landing.feature.third.central"}}</a>	
					{{t "landing.feature.third.second"}}		
				</h4>
			</div>
		</div>
	</div>
</div>
