<div class="container">
{{navbar-hide}} 
<div class="jumbotron-style">
	<div class="col-md-12 col-xs-12 padding-left-right">
		<div class="col-sm-1 col-md-offset-6 ">		
		</div>
		<p class="col-md-3 col-xs-5 padding size-title-privacy"> {{t "view.terms.header.privacy"}} </p>
		<a class="textLinkColor col-md-2 col-xs-6 padding">{{#link-to 'terms-condition' tagName="li"}}{{t "view.terms.header.title"}}		
		{{/link-to}}</a>
	</div>
	<div class="col-md-12 col-xs-12 padding-left-right">
		<div class="col-md-9 col-md-offset-2 padding-privacy-term">
			<h3 class="text-center">{{t "choosi.privacy.policy"}}</h3>	
			<p>{{t "welcome.privacy.choosi"}}</p>	
			<p><b><u>{{t "kids.privacy.title"}}</u></b>&nbsp;<span>{{t "kids.privacy.body"}}</span></p>
			<p><b><u>{{t "agreement.privacy.title"}}</u></b>&nbsp;<span>{{t "agreement.privacy.body"}}</span></p>
			<p><b><u>{{t "purpose.title"}}</u></b>&nbsp;<span>{{t "purpose.body"}}</span></p>
			<p><b><u>{{t "collection.school.title"}}</u></b>&nbsp;<span>{{t "collection.school.body"}}</span></p>
			<p><b><u>{{t "collection.choosi.title"}}</u></b>&nbsp;<span>{{t "collection.choosi.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "collection.choosi.information.title"}}</b>&nbsp;<span>{{t "collection.choosi.information.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "collection.choosi.anonymous.title"}}</b>&nbsp;<span>{{t "collection.choosi.anonymous.body"}}</span></p>
			<p>{{t "collection.choosi.anonymous.body2"}}</p>
			<p>{{t "collection.choosi.anonymous.body3"}}</p>
			<ul>
				<li><span>{{t "collection.choosi.ipaddress"}}</span></li>
				<li><span>{{t "collection.choosi.cookies"}}</span></li>
			</ul>
			<p>{{t "collection.choosi.anonymous.body4"}}</p>
			<p>{{t "collection.choosi.anonymous.body5"}}</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "collection.choosi.notrack.title"}}</b>&nbsp;<span>{{t "collection.choosi.notrack.body"}}</span></p>
			<p>{{t "collection.choosi.notrack.body2"}}</p>
			<p><b><u>{{t "privacy.personal.title"}}</u></b>&nbsp;<span>{{t "privacy.personal.body"}}</span></p>
			<p>{{t "privacy.personal.body2"}}</p>
			<p><b><u>{{t "privacy.email.title"}}</u></b>&nbsp;<span>{{t "privacy.email.body"}}</span></p>
			<p>{{t "privacy.email.title.body2"}}</p>
			<p><b><u>{{t "privacy.sharing.title"}}</u></b>&nbsp;</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "privacy.1.title"}}</b>&nbsp;<span>{{t "privacy.1.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "privacy.1.1.title"}}</b>&nbsp;<span>{{t "privacy.1.1.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "privacy.1.2.title"}}</b>&nbsp;<span>{{t "privacy.1.2.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "privacy.1.3.title"}}</b>&nbsp;<span>{{t "privacy.1.3.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "privacy.1.4.title"}}</b>&nbsp;<span>{{t "privacy.1.4.body"}}</span></p>
			<p><b><u>{{t "retention.title"}}</u></b>&nbsp;<span>{{t "retention.body"}}</span></p>
			<p><b><u>{{t "updates.title"}}</u></b>&nbsp;<span>{{t "updates.body"}}</span></p>
			<p class="text-center">KidsChoose, Inc.</p>
			<p class="text-center">1437 6th Street</p>
			<p class="text-center">Santa Monica, CA 90401</p>
			<p class="text-center">866-457-4705</p>
			<p class="text-center">email: <a class="textLinkColor" href="mailto:kcinfo@kidschoose.com?Subject=Hello%20Choosi">kcinfo@kidschoose.com</a></p>
			<p>{{t "updates.body2"}}</p>
			<p><b><u>{{t "data.title"}}</u></b>&nbsp;<span>{{t "data.body"}}</span></p>
			<p>{{t "updates.body2"}}</p>
			<p><b><u>{{t "transfer.title"}}</u></b>&nbsp;<span>{{t "transfer.body"}}</span></p>
			<p><b><u>{{t "third.title"}}</u></b>&nbsp;<span>{{t "third.body"}}</span></p>
			<p><b><u>{{t "changes.title"}}</u></b>&nbsp;<span>{{t "changes.body"}}</span></p>
			<p><b><u>{{t "contacting.title"}}</u></b>&nbsp;<span>{{t "contacting.body"}}</span></p>
			<p><b>{{t "privacy.last.updated"}}</b></p>
		</div>
	</div>
</div>
{{outlet}}
</div>