<div class="container">
	{{navbar-hide}} 
	<div class="jumbotron-style">
		<div class="col-md-12 col-xs-12 padding-left-right">
			<div class="col-sm-1 col-md-offset-6">				
			</div>
			<p class="col-md-2 col-xs-6 padding size-title-terms"> {{t "view.terms.header.title"}} </p>
			<a class="textLinkColor">{{#link-to 'privacy-policy' class="col-md-2 col-xs-5 liTerms padding" tagName="li"}}{{t "view.terms.header.privacy"}}		
			{{/link-to}}</a>
		</div>
		<div class="col-md-12 col-xs-12 padding-left-right">	
			<div class="col-md-9 col-md-offset-2 padding-privacy-term">
			<h3 class="text-center">{{t "choosi.terms.conditions"}}</h3>
			<h3 class="text-center">{{t "choosi.important.text"}}</h3>
			<p>{{t "welcome.choosi.text"}}</p>
			<p><b><u>{{t "subscription.title"}}</u></b>&nbsp;<span>{{t "subscription.body"}}</span></p>
			<p><b><u>{{t "rights.title"}}</u></b>&nbsp;<span>{{t "rights.body"}}</span></p>
			<p><b><u>{{t "privacy.policy.title"}}</u></b>&nbsp;<span>{{t "privacy.policy.body"}}</span></p>
			<p><b><u>{{t "license.title"}}</u></b>&nbsp;<span>{{t "license.body"}}</span></p>
			<p><b><u>{{t "password.title"}}</u></b>&nbsp;<span>{{t "password.body"}}</span></p>
			<p><b><u>{{t "conduct.title"}}</u></b>&nbsp;<span>{{t "conduct.body"}}</span></p>
			<p><b><u>{{t "refusal.title"}}</u></b>&nbsp;<span>{{t "refusal.body"}}</span></p>
			<p><b><u>{{t "information.title"}}</u></b>&nbsp;<span>{{t "information.body"}}</span></p>
			<p><b><u>{{t "indemity.title"}}</u></b>&nbsp;<span>{{t "indemity.body"}}</span></p>
			<p><b><u>{{t "intellectual.title"}}</u></b>&nbsp;</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "intellectual.property.title"}}</b>&nbsp;<span>{{t "intellectual.property.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "intellectual.notice.title"}}</b>&nbsp;<span>{{t "intellectual.notice.body"}}</span></p>
			<p><span>{{t "intellectual.notice.a"}}</span></p>
			<p><span>{{t "intellectual.notice.b"}}</span></p>
			<p><span>{{t "intellectual.notice.c"}}</span></p>
			<p><span>{{t "intellectual.notice.d"}}</span></p>
			<p><span>{{t "intellectual.notice.e"}}</span></p>
			<p><span>{{t "intellectual.notice.f"}}</span></p>
			<p><span>{{t "intellectual.notice.g"}}</span></p>
			<p><b><u>{{t "limitations.title"}}</u></b>&nbsp;<b>{{t "limitations.body"}}</b></p>
			<p><b><u>{{t "warranty.title"}}</u></b>&nbsp;<b>{{t "warranty.body"}}</b></p>
			<p><b><u>{{t "dispute.title"}}</u></b>&nbsp;</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "dispute.applicable.title"}}</b>&nbsp;<span>{{t "dispute.applicable.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "dispute.mediation.title"}}</b>&nbsp;<span>{{t "dispute.mediation.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "dispute.arbitration.title"}}</b>&nbsp;<span>{{t "dispute.arbitration.body"}}</span></p>
			<p>{{t "dispute.arbitration.body.2"}}</p>
			<p><b><u>{{t "cancellation.title"}}</u></b>&nbsp;<span>{{t "cancellation.body"}}</span></p>
			<p><b><u>{{t "termination.title"}}</u></b>&nbsp;<span>{{t "termination.body"}}</span></p>
			<p><b><u>{{t "miscellaneous.title"}}</u></b>&nbsp;</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.amendment.title"}}</b>&nbsp;<span>{{t "miscellaneous.amendment.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.errors.title"}}</b>&nbsp;<span>{{t "miscellaneous.errors.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.nutrient.title"}}</b>&nbsp;<span>{{t "miscellaneous.nutrient.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.third.title"}}</b>&nbsp;<span>{{t "miscellaneous.third.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.assignment.title"}}</b>&nbsp;<span>{{t "miscellaneous.assignment.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.severability.title"}}</b>&nbsp;<span>{{t "miscellaneous.severability.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.notice.title"}}</b>&nbsp;<span>{{t "miscellaneous.notice.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.waiver.title"}}</b>&nbsp;<span>{{t "miscellaneous.waiver.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.copyright.title"}}</b>&nbsp;<span>{{t "miscellaneous.copyright.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.entire.title"}}</b>&nbsp;<span>{{t "miscellaneous.entire.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.compliance.title"}}</b>&nbsp;<span>{{t "miscellaneous.compliance.body"}}</span></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{t "miscellaneous.acknowledgement.title"}}</b>&nbsp;<span>{{t "miscellaneous.acknowledgement.body"}}</span></p>

			<p><b>{{t "last.updated.text"}}</b></p>
			</div>
		</div>
	</div>
	{{outlet}}
</div>